<div>
	<div class="row col-xs-6">
		<div class="row">
			<div class="col-xs-12">
				本周销售前六名
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				今天
			</div>
			<div id="dTodaySales" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				昨天
			</div>
			<div id="dYesterdaySales" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				上周
			</div>
			<div id="dLastWeekSales" class="col-xs-2">8.67</div>
		</div>
		<div class="row">
			<div id="dailySalesChart" class="col-xs-11" style="max-height:260px;height:260px;">
			</div>
		</div>
	</div>
	<div class="row col-xs-6">
		<div class="row">
			<div class="col-xs-12">
				本月前六名产品
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				本月
			</div>
			<div id="mThisMonthUnits" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				上月
			</div>
			<div id="mLastMonthUnits" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				今年
			</div>
			<div id="mYtdUnits" class="col-xs-2">8.67</div>
		</div>
		<div class="row">
			<div id="monthlySalesChart" class="col-xs-11" style="max-height:260px;height:260px;">
			</div>
		</div>
	</div>
</div>
<div>
	<div class="row">
		<div class="col-xs-12">
			今年前六名产品
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6" style="max-height:400px;height:400px;" id="pieChart">
		</div>
		<div class="col-xs-6" style="max-height:300px;height:300px;" id="barGauge">
		</div>
	</div>
</div>

<script tyle="text/javascript">

	var dailySales,monthlySales;
	
	function getDailySales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "get_weekly_perday_sales(3)" }
		}).done(function(data){
			dailySales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}
	function getMonthlySales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "get_monthly_perday_sales(1)" }
		}).done(function(data){
			monthlySales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}

	function drawDailyChart() {
        var instance = $("#dailySalesChart").data("dxChart");
        if (instance) {
            instance.option("series.name", "2014-04-30");
            instance.option("dataSource", dailySales);
        } else {
            $("#dailySalesChart").dxChart({				
			dataSource: [
				{day: "产品一", _amount: 3},
				{day: "产品二", _amount: 2},
				{day: "产品三", _amount: 3},
				{day: "产品四", _amount: 4},
				{day: "产品五", _amount: 6},
				{day: "产品六", _amount: 11}
				],
			series: {
				argumentField: "day",
				valueField: "_amount",
				name: "本周排名",
				type: "bar",
				color: '#B381B6'
			}
            });
        }
    }
    function drawMonthlyChart() {
        var instance = $("#monthlySalesChart").data("dxChart");
        if (instance) {
            instance.option("series.name", "2014-04");
            instance.option("dataSource", monthlySales);
        } else {
            $("#monthlySalesChart").dxChart({ 
			dataSource: [
				{day: "A", _amount: 8},
				{day: "B", _amount: 10},
				{day: "C", _amount: 3},
				{day: "D", _amount: 6},
				{day: "E", _amount: 5},
				{day: "F", _amount: 11}],
			series: {
				argumentField: "day",
				valueField: "_amount",
				name: "2014-04",
				type: "bar",
				color: '#ffa500'
			}	
            });
        }
    }
    
    function drawPieChart(){
	
	var dataSource = [
		  { country: "产品一", medals: 110 },
		  { country: "产品二", medals: 100 },
		  { country: "产品三", medals: 72 },
		  { country: "产品四", medals: 47 },
		  { country: "产品五", medals: 46 },
		  { country: "产品六", medals: 41 },
		  { country: "产品七", medals: 40 },
		];

		$("#pieChart").dxPieChart({
			dataSource: dataSource,
			legend: {
				orientation: "horizontal",
				itemTextPosition: "right",
				horizontalAlignment: "right",
				verticalAlignment: "bottom",
				rowCount: 2
			},
		series: [{
			argumentField: "country",
			valueField: "medals",
			label: {
				visible: true,
				font: {
					size: 16
				},
				connector: {
					visible: true,
					width: 0.5
				},
				position: "columns",
				customizeText: function(arg) {
					return arg.valueText + " ( " + arg.percentText + ")";
				}
			}
		}],
		size:{ 
			width: 500
			}
		});    
    }

    function drawBarGauge(){
		$('#barGauge').dxBarGauge({
			startValue: 0,
			endValue: 200,
			values: [110, 100, 72, 47, 46,41,40],
			label: { visible: false },
			tooltip: {
				enabled: true,
				customizeText: function (arg) {
					return 'Racer ' + (arg.index + 1) + ' - ' + arg.valueText + ' km/h';
				}
			},
			title: {
				text: '产品环状数据统计',
				font: {
					size: 20
				}
			}
		});    
    }

	function product(){
		getDailySales(function(){
			drawDailyChart();
			getMonthlySales(function(){
				drawMonthlyChart();
				drawPieChart();
				drawBarGauge();
			});
		});
	}
</script>