<div class="row col-xs-6" style="margin-left:20px;width:600px">
	<div class="row">
		<div class="col-xs-12">
			本周销售前六名
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2" >
			今天
		</div>
		<div id="dTodaySales" class="col-xs-2"  style="margin-left:-25px">1.25</div>
		<div class="col-xs-2"  style="margin-left:-25px">
			昨天
		</div>
		<div id="dYesterdaySales" class="col-xs-2" style="margin-left:-25px">1.25</div>
		<div class="col-xs-2" style="margin-left:-25px">
			上周
		</div>
		<div id="dLastWeekSales" class="col-xs-2" style="margin-left:-25px">8.67</div>
	</div>
	<div id="dailySalesChart" class="row" style="max-height:260px;height:260px;">
    </div>
</div>
<div class="row col-xs-6">
	<div class="row">
		<div class="col-xs-12">
			本月前六名产品
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			本月
		</div>
		<div id="mThisMonthUnits" class="col-xs-2">1.25</div>
		<div class="col-xs-2">
			上月
		</div>
		<div id="mLastMonthUnits" class="col-xs-2">1.25</div>
		<div class="col-xs-2">
			今年
		</div>
		<div id="mYtdUnits" class="col-xs-2">8.67</div>
	</div>
	<div id="monthlySalesChart" class="row" style="max-height:260px;height:260px;">
    </div>
</div>
<div class="row" style="margin-left:20px">
	<div class="row">
		<div class="col-xs-12">
			今年前六名产品
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6" style="max-height:260px;height:260px;" id="pieChart">
		</div>
		<div class="col-xs-6" style="max-height:260px;height:260px;" id="barGauge">
		</div>
	</div>
</div>


<script tyle="text/javascript">

	var dailySales,monthlySales;
	
	function getDailySales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "get_weekly_perday_sales(3)" }
		}).done(function(data){
			dailySales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}
	function getMonthlySales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "get_monthly_perday_sales(1)" }
		}).done(function(data){
			monthlySales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}

	function drawDailyChart() {
        var instance = $("#dailySalesChart").data("dxChart");
        if (instance) {
            instance.option("series.name", "2014-04-30");
            instance.option("dataSource", dailySales);

        } else {
			 $("#dailySalesChart").dxChart({
				  dataSource: dailySales,
				  size: {
					  height: 262,
					  width:450,
				  },
				series: {
					 label: {
						visible: true,
					},

						argumentField: '_date',
						valueField: '_amount',
						type: 'bar',
						point: {
						color: "pink",
						name: "2014-04-30",
						point: {
							color: "red",
							border: {
								color: "blue"
							},
							hoverStyle: {
								border: {
									color: "green"
								}
							}
						}
					}
				},
			 legend: {
					visible: true,
					markerSize: 10,
                    margin: 10,
                    paddingLeftRight: 5,
                    paddingTopBottom: 5,
                    verticalAlignment: 'top',
                    horizontalAlignment: 'left',
                    position: 'inside',
                    border: {
                        visible: true,
                        color: '#d2d2d2',
                        opacity: 1
                    },
                    font: {
                        color: '#373737',
                        opacity: 1,
                        size: 12
                    }
			},
			valueAxis: {
                    min: 0,
                    label: {
                        customizeText: function () { return this.value; }
                    }
                },
});
        }
    }
    function drawMonthlyChart() {
        var instance = $("#monthlySalesChart").data("dxChart");
        if (instance) {
            instance.option("series.name", "2014-04");
            instance.option("dataSource", monthlySales);
        } else {
            $('#monthlySalesChart').dxChart({
				 dataSource: monthlySales,
                series: {
                    argumentField: '_date',
                    valueField: '_amount',
                    name: "2014-04",
					type:"bar"
                },
				argumentAxis: {
                    argumentType: 'datetime',
                    tickInterval: { days: 1 },
                    label: {
                        overlappingBehavior: { mode: 'ignore' },
                        format: 'dd',
						customizeText: function() {
                    return this.valueText;
                }
                    }
                },
        },
        valueAxis: {
            label: {
                visible: false
            }
        },
        legend: {
            visible: true,
					markerSize: 10,
                    margin: 10,
                    paddingLeftRight: 5,
                    paddingTopBottom: 5,
                    verticalAlignment: 'top',
                    horizontalAlignment: 'left',
                    position: 'inside',
                    border: {
                        visible: true,
                        color: '#d2d2d2',
                        opacity: 1
                    },
                    font: {
                        color: '#373737',
                        opacity: 1,
                        size: 12
                    }
        },
		  tooltip: {
                    paddingLeftRight: 6,
                    paddingTopBottom: 4,
					color:"red",
                    enabled: true,
                    precision: 1,
                    customizeText: function () {
                        return this.valueText;
                    }
				},
});
        }
    }
    
    function drawPieChart(){
		$("#pieChart").dxPieChart({
			size:{ 
				width: 500
			},
			dataSource: [
				{ country: "Russia", area: 12 },
				{ country: "Canada", area: 7 },
				{ country: "USA", area: 7 },
				{ country: "China", area: 7 },
				{ country: "Brazil", area: 6 },
				{ country: "Australia", area: 5 },
				{ country: "India", area: 2 },
				{ country: "Others", area: 55 }
			],
			series: [
				{
					argumentField: "country",
					valueField: "area",
					label:{
						visible: true,
						connector:{
							visible:true,           
							width: 1
						}
					}
				}
			],
			title: "Area of Countries"
		});    
    }
    
    function drawBarGauge(){
		$('#barGauge').dxBarGauge({
			startValue: 0,
			endValue: 200,
			values: [121.4, 135.4, 115.9, 141.1, 127.5],
			label: { visible: false },
			tooltip: {
				enabled: true,
				customizeText: function (arg) {
					return 'Racer ' + (arg.index + 1) + ' - ' + arg.valueText + ' km/h';
				}
			},
			title: {
				text: 'Average Speed by Racer',
				font: {
					size: 28
				}
			}
		});    
    }

	function region(){
		getDailySales(function(){
			drawDailyChart();
			getMonthlySales(function(){
				drawMonthlyChart();
				drawPieChart();
				drawBarGauge();
			});
		});
	}
</script>