<div>
	<div class="row col-xs-6">
		<div class="row">
			<div class="col-xs-12">
				<span style="font-size:25px;font-weight:lighter">周销售（单位：万元）</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				今天
			</div>
			<div id="dTodaySales" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				昨天
			</div>
			<div id="dYesterdaySales" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				上周
			</div>
			<div id="dLastWeekSales" class="col-xs-2">8.67</div>
		</div>
		<div class="row">
			<div id="dailySalesChart" class="col-xs-11" style="max-height:260px;height:260px;">
			</div>
		</div>
	</div>

	<div class="row col-xs-6">
		<div class="row">
			<div class="col-xs-12">
				<span style="font-size:25px">月销售（单位：万元）</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				本月
			</div>
			<div id="mThisMonthUnits" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				上月
			</div>
			<div id="mLastMonthUnits" class="col-xs-2">1.25</div>
			<div class="col-xs-2">
				今年
			</div>
			<div id="mYtdUnits" class="col-xs-2">8.67</div>
		</div>
		<div class="row">
			<div id="monthlySalesChart" class="col-xs-11" style="max-height:260px;height:260px;">
			</div>
		</div>
	</div>
</div>

<div>
	<div class="row col-xs-6"  style="margin-top:40px;">
		<div id="top10ProductChart" class="row" style="max-height:400px;height:400px;">
		</div>
	</div>

	<div class="row col-xs-6"  style="margin-top:40px;">
		<div id="companyChart" class="row" style="max-height:400px;height:400px;">
		</div>
	</div>
</div>

<div>
	<div class="row col-xs-6"  style="margin-top:40px;">
		<div id="partnerChart" class="row" style="max-height:400px;height:400px;">
		</div>
	</div>

	<div class="row col-xs-6"  style="margin-top:40px;">
		<div id="forcastChart" class="row" style="max-height:400px;height:400px;">
		</div>
	</div>
</div>


<script type="text/javascript">

	var localData = false;

	var salesSnapshot,dailySales,monthlySales,companyMonthlySales, top10ProductSales, partnerData, forcastData;

	function getSalesSnapshot(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "get_sales_snapshot()" }
		}).done(function(data){
			salesSnapshot = JSON.parse(data)[0];
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}

	function getDailySales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "get_weekly_perday_sales(4)" }
		}).done(function(data){
			dailySales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}
	function getMonthlySales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "get_monthly_perday_sales(1)" }
		}).done(function(data){
			monthlySales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}

	function getCompanyMonthlySales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "wx14_d()" }
		}).done(function(data){
			companyMonthlySales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}
	
	function getTop10ProductSales(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "wx18_d()" }
		}).done(function(data){
			top10ProductSales = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}
	
	function getPartnerData(callback){
		$.ajax({
			  url: baseUrl
			, data: { sql: "wx12()" }
		}).done(function(data){
			partnerData = JSON.parse(data);
		}).done(callback).fail(function(message){
			$.alert({
				message:message.responseText
				, onOk : function(){
					$.unblockUI();
				}
			});
		});
	}

	function setTodaySales(){
		$("#dTodaySales").html(salesSnapshot._today);
	}

	function setYestodaySales(){
		$("#dYesterdaySales").html(salesSnapshot._yestoday);
	}

	function setLastWeekSales(){
		$("#dLastWeekSales").html(salesSnapshot._lastweek);
	}

	function setThisMonthSales(){
		$("#mThisMonthSales").html(salesSnapshot._thismonth);
	}

	function setLastMonthSales(){
		$("#mLastMonthSales").html(salesSnapshot._lastmonth);
	}

	function setYTDSales(){
		$("#mYTDSales").html(salesSnapshot._thisyear);
	}

	function drawDailyChart() {
        var instance = $("#dailySalesChart").data("dxChart");
        if (instance) {
            instance.option("series.name", "2014-04-30");
            instance.option("dataSource", dailySales);
        } else {
            $("#dailySalesChart").dxChart({
                dataSource: dailySales,
                series: {
                    argumentField: '_date',
                    valueField: '_amount',
                    name: "本周销售情况"
                },
                
                valueAxis: {
                    min: 0,
                    label: {
                        customizeText: function () { return this.value; }
                    }
                },
                argumentAxis: {
                    valueMarginsEnabled: false,
                    placeholderSize: 30,
                    argumentType: 'datetime',
                    tickInterval: { days: 1 },
                    label: {
                        overlappingBehavior: { mode: 'ignore' },
                        format: 'MM-dd'
                    }
                },
                tooltip: {
                    paddingLeftRight: 10,
                    paddingTopBottom: 4,
                    enabled: true,
                    precision: 2,
                    customizeText: function () {
                        return this.valueText;
                    }
                },
                legend: {
                    markerSize: 10,
                    margin: 5,
                    paddingLeftRight: 5,
                    paddingTopBottom: 5,
                    verticalAlignment: 'top',
                    horizontalAlignment: 'left',
                    position: 'inside',
                    border: {
                        visible: true,
                        color: '#d2d2d2',
                        opacity: 1
                    },
                    font: {
                        color: '#373737',
                        opacity: 1,
                        size: 12
                    }
                }
            });
        }
    }

	function drawMonthlyChart() {
        var instance = $("#monthlySalesChart").data("dxChart");
        if (instance) {
            instance.option("series.name", "2014-04");
            instance.option("dataSource", monthlySales);
        } else {
            $("#monthlySalesChart").dxChart({
                dataSource: monthlySales,
                series: {
                    argumentField: '_date',
                    valueField: '_amount',
                    name: "2014-04月销售情况"
                },
                valueAxis: {
                    min: 0,
                    label: {
                        customizeText: function () { return this.value; }
                    }
                },
                argumentAxis: {
                    valueMarginsEnabled: false,
                    placeholderSize: 25,
                    argumentType: 'datetime',
                    tickInterval: { days: 1 },
                    label: {
                        overlappingBehavior: { mode: 'ignore' },
                        format: 'dd'
                    }
                },
                tooltip: {
                    paddingLeftRight: 10,
                    paddingTopBottom: 4,
                    enabled: true,
                    precision: 2,
                    customizeText: function () {
                        return this.valueText;
                    }
                },
                legend: {
                    markerSize: 10,
                    margin: 5,
                    paddingLeftRight: 5,
                    paddingTopBottom: 5,
                    verticalAlignment: 'top',
                    horizontalAlignment: 'left',
                    position: 'inside',
                    border: {
                        visible: true,
                        color: '#d2d2d2',
                        opacity: 1
                    },
                    font: {
                        color: '#373737',
                        opacity: 1,
                        size: 12
                    }
                }
            });
        }
    }

	function drawTop10ProductChart() {
		var instance = $("#top10ProductChart").data("dxChart");
		if (instance) {
			instance.option("dataSource", top10ProductSales);
		} else {
			$("#top10ProductChart").dxChart({
				dataSource: top10ProductSales,
				commonSeriesSettings: {
					argumentField: "_product",
					type: "bar",
					hoverMode: "allArgumentPoints",
					selectionMode: "allArgumentPoints",
					label: {
						visible: true,
						format: "fixedPoint",
						precision: 0
					},
					color: "#BA4D51"
				},
				series: [
					{ valueField: "_amount", name: "金额" }     
				],
				title: "产品年销售前十名",
				legend: {
					verticalAlignment: "top",
					horizontalAlignment: "right",
					position: "inside",
				},
			});		
		}	
	}


	function drawCompanyChart() {
		var instance = $("#companyChart").data("dxChart");
		if (instance) {
			instance.option("dataSource", companyMonthlySales);
		} else {
			$("#companyChart").dxChart({
				dataSource: companyMonthlySales,
				commonSeriesSettings: {
					argumentField: "_company",
					type: "stackedBar"
				},
				series: [
					{ valueField: "_jan", name: "一月" },
					{ valueField: "_feb", name: "二月" },
					{ valueField: "_mar", name: "三月" },
					{ valueField: "_apr", name: "四月" },
					{ valueField: "_may", name: "五月" },
					{ valueField: "_jun", name: "六月" }
				],
				legend: {
					verticalAlignment: "top",
					horizontalAlignment: "right",
				},
				valueAxis: {
					title: {
						text: "单位：万元"
					},
					position: "left"
				},
				title: "分公司销售统计",
				tooltip: {
					enabled: true,
					customizeText: function () {
						return this.seriesName + " 销售额: " + this.valueText;
					}
				}
			});
		}
	}
	
	function drawPartnerChart(){
		$("#partnerChart").dxChart({
			dataSource:partnerData,
			series: {
				argumentField: "sh_cus_name",
				valueField: "org_menc",
				name: "合作伙伴",
				type: "bar",
				color: '#5F8B95'
			},
			title: "2013年合作伙伴成交金额排行"
		});	
	}
	
	function drawForcastChart(){
		$('#forcastChart').dxChart({
			rotated: true,
			pointSelectionMode: "multiple",
			dataSource: dataSource = [
			  { country: "一月", gold: 0, silver: 107.27, bronze: 0 },
			  { country: "二月", gold: 0, silver: 97.01, bronze: 0 },
			  { country: "三月", gold: 0, silver: 92.61, bronze: 0 },
			  { country: "四月", gold: 0, silver: 107.27, bronze: 0 },
			  { country: "五月", gold: 0, silver: 97.01, bronze: 0 },
			  { country: "六月", gold: 92.61, silver: 0, bronze: 0 }
			],
			commonSeriesSettings: {
				argumentField: "country",
				type: "stackedbar",
				selectionStyle: {
					hatching: {
						direction: "left"
					}
				}
			},
			series: [
			  { valueField: "gold", name: "预测金额（单位：万元）", color: "#5F8B95" },
			  { valueField: "silver", name: "实际销售额（单位：万元）", color: "#c0c0c0" }
			],
			title: {
				text: "销售额预测"
			},
			legend: {
				verticalAlignment: "bottom",
				horizontalAlignment: "center"
			},
			pointClick: function(point) {
				point.isSelected() ? point.clearSelection() : point.select();
			}
		});	
	}


	function snapshot(){

		getSalesSnapshot(function(){
			setTodaySales();
			setYestodaySales();
			setLastWeekSales();
			setThisMonthSales();
			setLastMonthSales();
			setYTDSales();
			getDailySales(function(){
				drawDailyChart();
				getMonthlySales(function(){
					drawMonthlyChart();
					/*drawPerfGaugeYTDSales();*/
					/*drawPerfGaugeLastYearSales();*/
					/*drawForecastGraph();*/
					getCompanyMonthlySales(function(){
						drawCompanyChart();
						
						getTop10ProductSales(function(){
							drawTop10ProductChart();
							getPartnerData(function(){
								drawPartnerChart();
								drawForcastChart();
							});
						});
						
					});
				});
			});
		})

		
	}
</script>