<div id="chartContainer">

</div>

<script type="text/javascript">
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "test" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function test(){
	loadData(function(data){
		$("#chartContainer").dxChart({
			equalBarWidth: false,
			dataSource: JSON.parse(data),
			series: {
				argumentField: "_user",
				valueField: "_count",
				name: "My oranges1",
				type: "bar",
				color: '#ffa500'
			}
		});
	})
}
</script>