<div id="chartContainer">

</div>
<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >日期</th>
		<th width="50%" >潜客数量</th>
	</tr>
</thead> 
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</th>
		<td width="50%" >&nbsp;</th>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
function loadData(callback){
	var datasource;
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx01_d()" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx01(){
	loadData(function(data){
		datasource = JSON.parse(data);
		
	   $.each(datasource,function(i,date){
			date.sh_odate = date.sh_odate.substring(0, 10);
		});
		
		$("#chartContainer").dxChart({
			dataSource: datasource,
			commonSeriesSettings: {
				type: "stackedLine",
				argumentField: "sh_odate"
			},
			commonPaneSettings: {
				border: {
					visible: true            
				}
			},
			commonAxisSettings: {
				grid: {
				   visible: true
				}
			},
			series: [
				{ valueField: "sh_cus_hc", name: "数量" }
			 
			],
			title: "5月份每天新增潜客数量变化趋势",
			legend: {
				verticalAlignment: "潜客",
				horizontalAlignment: "center"
			},
			tooltip:{
				enabled: true
			}
		});
		
		$('#rrr').html('');
		$.each(datasource,function(i,date){
			$('table').each(function(){
			$(this).find('tr:even').css("background","#ccc");
			$(this).find('tr:odd').css("background","#eee");
			});
			$('#rrr').append(
				"<tr><td>"+date.sh_odate+"</td>"+
				"<td>"+date.sh_cus_hc+"</td></tr>"
			);
		});
	})
	
}
</script>