<div id="chartContainer">

</div>

<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >日期</th>
		<th width="50%" >潜客数量</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</th>
		<td width="50%" >&nbsp;</th>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
var datasource;
function drawChart(){
	$("#chartContainer").dxChart({
		dataSource: datasource,
		commonSeriesSettings: {
			type: "stackedLine",
			argumentField: "sh_odate"
		},	
		commonPaneSettings: {
			border: {
				visible: true            
			}
		},
		commonAxisSettings: {
			grid: {
			   visible: true
			}
		},
		series: [
			{ valueField: "sh_cus_hc", name: "客户" }
	   
		],
		title: "6月份每天新增转化数量变化趋势",
		legend: {
			verticalAlignment: "bottom",
			horizontalAlignment: "center"
		},
		tooltip:{
			enabled: true
		}
	});
}

function drawTable(){
	$('#rrr').html('');
	$.each(datasource,function(i,date){
		$('table').each(function(){
			$(this).find('tr:even').css("background","#ccc");
			$(this).find('tr:odd').css("background","#eee");
		});
		$('#rrr').append(
			"<tr><td>"+date.sh_odate+"</td>"+
			"<td>"+date.sh_cus_hc+"</td></tr>"
		);
	});
}

function wx02(){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx02_d()" }
	}).done(function(data){
		/*获取JSON*/
		datasource=JSON.parse(data);
		drawChart();
		drawTable();
	}).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
</script>