<div id="chartContainer">

</div>
<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >日期</th>
		<th width="50%" >数量</th>
	</tr>
</thead>
<tbody id="rrr">
</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</th>
		<td width="50%" >&nbsp;</th>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
var dataSource={};
function loadData(callback){
	
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx03" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx03(){
	loadData(function(data){	
	      dataSource = JSON.parse(data);
		$("#chartContainer").dxChart({
			dataSource:dataSource,
			
			commonSeriesSettings: {
        type: "stackedLine",
        argumentField: "sh_omonth"
    },
    commonPaneSettings: {
        border: {
            visible: true            
        }
    },
    commonAxisSettings: {
        grid: {
           visible: true
        }
    },
    series: [
        { valueField: "count(sh_cus_sex)", name: "二次销售客户数" },
    ],
    title: "二次销售客户",
    legend: {
        verticalAlignment: "bottom",
        horizontalAlignment: "center"
    },
    tooltip:{
        enabled: true
    }
		});
		
		$('#rrr').html('');
		$.each(dataSource,function(i,date){
			$('table').each(function(){
			$(this).find('tr:even').css("background","#ccc");
			$(this).find('tr:odd').css("background","#eee");
			});
			$('#rrr').append(
				"<tr><td>"+date.sh_omonth+"</td>"+
				"<td>"+date['count(sh_cus_sex)']+"</td></tr>"
			);
		});
	
		
	})
}
</script>