<div id="chartContainer">

</div>

<table style="width:400px;margin-top:40px; ">
<thead>
	<tr>
		<th width="40%" >日期</th>
		<th width="30%" >未跟进</th>
		<th width="30%" >已跟进</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="40%" >&nbsp;</td>
		<td width="30%" >&nbsp;</td>
		<td width="30%" >&nbsp;</td>
	</tr>
	</tr>
</tfoot>
</table>


<script type="text/javascript">
	 var datasource;
function loadData(callback){

	$.ajax({
		  url: baseUrl
		, data: { sql: "wx04_d()" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx04(){
	loadData(function(data){
	
	  datasource=JSON.parse(data);
	   
	   $.each(datasource,function(i,date){
			date.sh_odate = date.sh_odate.substring(0, 10);
		});
	 
		$("#chartContainer").dxChart({
			dataSource:datasource,
			 commonSeriesSettings: {
        type: "stackedLine",
        argumentField: "sh_odate"
    },
    commonPaneSettings: {
        border: {
            visible: true            
        }
    },
	argumentAxis: {
                    valueMarginsEnabled: false,
                    placeholderSize: 30,
                    argumentType: 'datetime',
                    tickInterval: { days: 1 },
                    label: {
                        overlappingBehavior: { mode: 'ignore' },
                        format: 'MM-dd'
                    }
                },
    commonAxisSettings: {
        grid: {
           visible: true
        }
    },
    series: [
        { valueField: "sh_cus_huf", name: "未跟进" },
        
        { valueField: "sh_cus_hf", name: "已跟进" }
    ],
    title: "潜客跟进状况跟进趋势",
    legend: {
        verticalAlignment: "bottom",
        horizontalAlignment: "center"
    },
    tooltip:{
        enabled: true
    }
		});
		
		$('#rrr').html('');
			$.each(datasource,function(i,date){
					$('table').each(function(){
					$(this).find('tr:even').css("background","#ccc");
					$(this).find('tr:odd').css("background","#eee");
			});
			$('#rrr').append(
				"<tr><td>"+date.sh_odate+"</td>"+
				"<td>"+date.sh_cus_hf+"</td>"+
				"<td>"+date.sh_cus_huf+"</td></tr>"
			);
		});
		
	});
}
</script>