<div id="chartContainer" style="margin-left:30px">

</div>

<table style="width:950px;margin-top:60px;font-size:12px;margin-left:30px">
<thead>
	<tr>
		<th width="40%" >公司名</th>
		<th width="30%" >金额(万元)</th>
		<th width="30%" >日期</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="40%" >&nbsp; </td>
		<td width="30%" >&nbsp; </td>
		<td width="30%" >&nbsp; </td>
	</tr>
</tfoot>
</table>


<script type="text/javascript">
	var datasource;
function loadData(callback){
	
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx05" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx05(){
	loadData(function(data){
	  datasource=JSON.parse(data);
		$("#chartContainer").dxChart({
			dataSource: datasource,
			series: {
				argumentField: "iga_cname",
				valueField: "iga_tbill",
				name: "公司名",
				type: "bar",
				color: '#ffa500'
			},
			title:"分公司3月份销售对比",
			tooltip: {
				enabled: true,

				customizeText: function () {
					return " 销售额: " + this.valueText;
				}
			},
			valueAxis: {
					title: {
						text: "单位：万元"
					},
					position: "left"
				},
		});
		$('#rrr').html('');
		$.each(datasource,function(i,date){
			$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
			});
			$('#rrr').append(
				"<tr><td>"+date.iga_cname+"</td><td>"
				+date.iga_tbill+
				"</td><td>"+date.iga_month+"</td></tr>"
			);
		});
	});
}
</script>