<div id="chartContainer">

</div>



<table style="width:600px;margin-top:40px;">
<thead>
	<tr>
		<th width="40%" >公司名</th>
		<th width="30%" >金额</th>
		<th width="30%" >日期</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="40%">&nbsp;</td>
		<td width="30%">&nbsp;</td>
		<td width="30%">&nbsp;</td>
	</tr>
	</tr>
</tfoot>
</table>


<script type="text/javascript">
var datasource;
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx06" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx06(){
	
	loadData(function(data){
	
		datasource = JSON.parse(data);
		$("#chartContainer").dxChart({
			dataSource:datasource ,
			
			
	commonSeriesSettings: {
        type: "stackedLine",
        argumentField: "iga_month"
    },
    commonPaneSettings: {
        border: {
            visible: true            
        }
    },
    commonAxisSettings: {
        grid: {
           visible: true
        }
    },
    series: [
        { valueField: "iga_tbill", name: "昆明分公司月销售收入" },
    ],
    title: "昆明分公司月销售收入",
    legend: {
        verticalAlignment: "bottom",
        horizontalAlignment: "center"
    },
    tooltip:{
        enabled: true
    }
		});
		
		$('#rrr').html('');
		$.each(datasource,function(i,date){
			$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
			});
			$('#rrr').append(
				"<tr><td>"+date.iga_cname+"</td><td>"
				+date.iga_tbill+
				"</td><td>"+date.iga_month+"</td></tr>"
			);
		});
		
	});
}
</script>