<div id="chartContainer">

</div>


<table style="width:400px;margin-top:50px;">
<thead>
	<tr>

		<th width="50%" >日期</th>
		<th width="50%" >金额</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp; </td>
		<td width="50%" >&nbsp; </td>
	</tr>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
var datasource;

function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx07" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx07(){
	loadData(function(data){
	
		datasource=JSON.parse(data);

		$("#chartContainer").dxChart({
		
			dataSource:datasource,
			
			series: {
				argumentField: "_month",
				valueField: "_amount",
				name: "按月统计销售量",
				type: "bar",
				color: '#ffa500'
			}
		});
		
		
		$('#rrr').html('');
			$.each(datasource,function(i,date){
				$('table').each(function(){
					$(this).find('tr:even').css("background","#ccc");
					$(this).find('tr:odd').css("background","#eee");
				});
				
				$('#rrr').append(
					"<tr><td>"+date._month+"</td>"+
					
					"<td>"+date._amount +"</td></tr>"
				);
			});
		});
}
</script>