<div id="chartContainer">

</div>

<table style="width:600px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >性别</th>
		
		<th width="50%" >占比</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</td>
	
		<td width="50%" >&nbsp;</td>
	</tr>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
var datasource;
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx08" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx08(){
	loadData(function(data){
	  datasource=JSON.parse(data);
		$("#chartContainer").dxPieChart({
			dataSource: datasource,
			size:{ 
				width: 500
			},
			series: [
				{
					argumentField: "sh_cus_sex",
					valueField: "a",
					label:{
						visible: true,
						connector:{
							visible:true,           
							width: 1
						}
					}
				}
			],
			title: "客户性别结构"
		});
		$('#rrr').html('');
		$.each(datasource,function(i,date){
			$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
			});
			$('#rrr').append(
				"<tr><td>"+date.sh_cus_sex+"</td>"+
				"<td>"+(date.a)*100+'%'+"</td></tr>"
			);
		});
	})
}
</script>