<div id="chartContainer">

</div>


<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >年龄段</th>
		<th width="50%" >占比</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</td>
		<td width="50%" >&nbsp;</td>
	</tr>
</tfoot>
</table>


<script type="text/javascript">
	var dataSource;
function loadData(callback){

	$.ajax({
		  url: baseUrl
		, data: { sql: "wx09" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx09(){
	loadData(function(data){
	
	  dataSource = JSON.parse(data);
	  
		$("#chartContainer").dxPieChart({
			dataSource:dataSource ,	
			
		 size:{ 
			width: 500
		},
		
		series: [
				{
					argumentField: "sh_cus_ager",
					valueField: "a",
					label:{
						visible: true,
						connector:{
							visible:true,           
							width: 1
						}
					}
				}
			],
			title: "客户年龄结构"
		});
		
		$('#rrr').html('');
		$.each(dataSource,function(i,date){
			$('table').each(function(){
			$(this).find('tr:even').css("background","#ccc");
			$(this).find('tr:odd').css("background","#eee");
			});
			
			$('#rrr').append(
				"<tr><td>"+date.sh_cus_ager+"</td>"+
				"<td>"+Math.floor(date.a*100)+'%'+"</td></tr>"
			);
		});

		
	})
}
</script>