<div id="chartContainer">

</div>


<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >状态</th>
		<th width="50%" >占比</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</td>
		<td width="50%" >&nbsp;</td>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
		var dataSource={};
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx11" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx11(){
	loadData(function(data){
	
		 dataSource = JSON.parse(data);
		$("#chartContainer").dxPieChart({
			dataSource: dataSource,
			
	 size:{ 
        width: 500
    },

	series: [
				{
					argumentField: "sh_cus_ht",
					valueField: "sh_pc",
					label:{
						visible: true,
						connector:{
							visible:true,           
							width: 1
						}
					}
				}
			],
			title: "成交额区间占比"

		});
		
		$('#rrr').html('');
		$.each(dataSource,function(i,date){
			$('table').each(function(){
			$(this).find('tr:even').css("background","#ccc");
			$(this).find('tr:odd').css("background","#eee");
			});
			$('#rrr').append(
				"<tr><td>"+date.sh_cus_ht+"</td>"+
				"<td>"+Math.floor((date.sh_pc)*100)+'%' +"</td></tr>"
			);
		});
		
	})
}
</script>