<div id="chartContainer" style="margin-left:30px">

</div>




<script type="text/javascript">
var datasource;
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx12" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx12(){
	loadData(function(data){
		datasource=JSON.parse(data);

		$("#chartContainer").dxChart({
			dataSource:datasource,
			series: {
				argumentField: "sh_cus_name",
				valueField: "org_menc",
				name: "合作伙伴姓名",
				type: "bar",
				color: '#ffa500',
				label: {
					visible: true,
					format: "fixedPoint",
					precision: 0
				}
			},
			title:"2013年合作伙伴成交金额排行",
			tooltip: {
				enabled: true,
				customizeText: function () {
					return " 成交金额: " + this.valueText;
				}
			},
			valueAxis: {
					title: {
						text: "单位：万元"
					},
					position: "left"
				},
		});
		
		
		});
}
</script>