<div id="chartContainer" style="margin-left:30px;">

</div>



<script type="text/javascript">
function loadData(callback){
    var  dataSource;
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx13" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx13(){
	loadData(function(data){
		dataSource =  JSON.parse(data);
	
	
		$("#chartContainer").dxChart({
			dataSource:dataSource,
			series: {
				argumentField: "sh_oday",
				valueField: "sh_jin",
				name: "日期",
				type: "bar",
				color: '#ffa500',
				 label: {
            visible: true,
            format: "fixedPoint",
            precision: 0
        }
			},
			title:"2013周成交汇总",
			legend: {
					verticalAlignment: "top",
					horizontalAlignment: "right",
					position: "outside",
				},
				valueAxis: {
					title: {
						text: "单位：万元"
					},
					position: "top"
				},

		});
		
		
	})
}
</script>