<div id="chartContainer" style="margin-left:30px">

</div>

<script type="text/javascript">
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx14_d()" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx14(){
	loadData(function(data){
		$("#chartContainer").dxChart({
			dataSource: JSON.parse(data),
			commonSeriesSettings: {
				argumentField: "_company",
				type: "stackedBar"
			},
			series: [
				{ valueField: "_jan", name: "一月" },
				{ valueField: "_feb", name: "二月" },
				{ valueField: "_mar", name: "三月" },
				{ valueField: "_apr", name: "四月" },
				{ valueField: "_may", name: "五月" },
				{ valueField: "_jun", name: "六月" }
			],
			legend: {
				verticalAlignment: "top",
				horizontalAlignment: "right",
				itemTextPosition: 'right'
			},
			valueAxis: {
				title: {
					text: "单位：万元"
				},
				position: "left"
			},
			title: "分公司销售统计",
			tooltip: {
				enabled: true,
				customizeText: function () {
					return this.seriesName + " 销售额: " + this.valueText;
				}
			}
		});	
	});
}
</script>