<div id="chartContainer" style="margin-left:30px">

</div>


<script type="text/javascript">
	var dataSource;
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx15" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx15(){
	loadData(function(data){
	  dataSource=JSON.parse(data);
		$("#chartContainer").dxChart({
			dataSource: dataSource,
			title: "每周成交汇总金额",
			series: {
				argumentField: "week(sh_oday)",
				valueField: "sum(sh_obill)",
				name: "每周汇总",
				type: "bar",
				color: '#ffa500',
				label: {
					visible: true,
				}
			},valueAxis: {
					title: {
						text: "单位：万元"
					},
					position: "left"
				},
		});
		
		
	})
}
</script>