<div id="chartContainer" style="width:1100px;margin-left:25px">

</div>

<table  style="width:1200px;margin-left:25px;margin-top:50px;font-size:12px">
<thead>
	<tr>
		<th width="40%" >公司名</th>
		<th width="30%" >客户数量</th>
		<th width="30%" >日期</th>
	</tr>
</thead>
	<tbody id="rrr">
	</tbody>
<tfoot>
	<tr>
		<td width="40%">&nbsp;</td>
		<td width="30%">&nbsp;</td>
		<td width="30%">&nbsp;</td>
	</tr>
	</tr>
</tfoot>
</table>



<script type="text/javascript">


var dataSource = [
    { time: "2013-01", food: 956, capital: 718, auto: 805, goods: 146 ,goods2: 306 ,goods3: 0 ,goods4: 413},
    { time: "2013-02", food: 252, capital: 622, auto: 369, goods: 934,goods2: 614 ,goods3: 0 ,goods4: 268   },
    { time: "2013-03", food: 393, capital: 954, auto: 431, goods: 231,goods2: 154 ,goods3: 845 ,goods4: 100   },
    { time: "2013-04", food: 207, capital: 903, auto: 49, goods: 353 , goods2: 926 ,goods3: 13 ,goods4: 696 },
    { time: "2013-05", food: 855, capital: 652, auto: 949, goods: 73, goods2: 170 ,goods3: 527 ,goods4: 182  },
    { time: "2013-06", food: 657, capital: 552, auto: 598, goods: 305,goods2: 71 ,goods3: 599 ,goods4: 820  },
];

$("#chartContainer").dxChart({
    dataSource: dataSource,

    commonSeriesSettings: {
        type: "stackedLine",
        argumentField: "time"
    },
    commonPaneSettings: {
        border: {
            visible: true ,           
        }
    },
    commonAxisSettings: {
        grid: {
           visible: true
        }
    },
    series: [
        { valueField: "food", name: "广州分公司" },
        { valueField: "capital", name: "昆明分公司" },
        { valueField: "auto", name: "杭州分公司" },
        { valueField: "goods", name: "武汉分公司" },
        { valueField: "goods2", name: "济南分公司" },
        { valueField: "goods3", name: "深圳分公司" },
        { valueField: "goods4", name: "西安分公司" }
    ],
    title: "分公司每月新增潜客开发进度对比",
    legend: {
        verticalAlignment: "top",
        horizontalAlignment: "right"
    },
    tooltip:{
        enabled:true
    }
});


	var datasource;
function loadData(callback){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx16" }
	}).done(callback).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function wx16(){

	loadData(function(data){

	datasource = JSON.parse(data);
		
		$('#rrr').html('');
		$.each(datasource,function(i,date){



				$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
			});

			$('#rrr').append(
				"<tr><td>"+date.iga_cname+"</td><td>"
				+date.wx_org_hc+
				"</td><td>"+date.iga_month+"</td></tr>"
			);
			
			
		});

	});
}
</script>