<div id="chartContainer" style="margin-left:30px;width:1100px">

</div>
<table style="width:600px;margin-top:40px;margin-left:30px;">
<thead>
	<tr>
		<th width="40%" >公司名</th>
		<th width="30%" >数量</th>
		<th width="30%" >金额</th>

	</tr>
</thead>
	<tbody id="rrr">
	<tr>
		<td>广州分公司</td>
		<td>740</td>
		<td>2000</td>
	</tr>
	<tr>
		<td>昆明分公司</td>
		<td>340</td>
		<td>5300</td>
		
	</tr>
	<tr>
		<td>杭州分公司</td>
		<td>990</td>
		<td>1240</td>
	</tr>
	<tr>
		<td>武汉分公司</td>
		<td>890</td>
		<td>2909</td>
	</tr>
	<tr>
		<td>西安分公司</td>
		<td>190</td>
		<td>1134</td>
	</tr>
	<tr>
		<td>济南分公司</td>
		<td>1470</td>
		<td>3000</td>
	</tr>
	<tr>
		<td>深圳分公司</td>
		<td>200</td>
		<td>1334</td>
	</tr>


	
	</tbody>
<tfoot>
	<tr>
		<td width="40%" >&nbsp;</th>
		<td width="30%" >&nbsp;</th>
		<td width="30%" >&nbsp;</th>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
var dataSource = [
    { state: "广州分公司", year1998: 740, year2001: 2000,  },
    { state: "昆明分公司", year1998: 340, year2001: 5300,  },
    { state: "杭州分公司", year1998: 990, year2001: 1240, },
    { state: "武汉分公司", year1998: 890, year2001: 2909,  },
      { state: "西安分公司", year1998: 190, year2001: 1134,  },
    { state: "济南分公司", year1998: 140, year2001: 3000,  },
	 { state: "深圳分公司", year1998: 200, year2001: 1334,  }
];

$("#chartContainer").dxChart({
    dataSource: dataSource,
    commonSeriesSettings: {
        argumentField: "state",
        type: "bar",
        hoverMode: "allArgumentPoints",
        selectionMode: "allArgumentPoints",
        label: {
            visible: true,
            format: "fixedPoint",
            precision: 0
        }
    },
    series: [
        { valueField: "year2001", name: "销售金额" },
        { valueField: "year1998", name: "销售数量" }
    ],
    title: "分公司月新增销售数量和销售金额对比(单位/元)",
    legend: {
        verticalAlignment: "top",
        horizontalAlignment: "right"
    },
    pointClick: function (point) {
        this.select();
    }
});


		$.each(dataSource,function(i,date){
				$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
				});
		
		});
</script>