<div id="chartContainer">

</div>

<table style="width:400px; margin-top:40px;">

<thead>
	<tr>
		<th width="50%" >产品名称</th>
		<th width="50%" >销售金额</th>
	</tr>
</thead>

<tbody  id="rrr">
	<tr>
		<td>做自己</td>
		<td>242</td>
	</tr>
	<tr>
		<td>引爆销售1</td>
		<td>6800</td>
	</tr>
	<tr>
		<td>引爆销售2</td>
		<td>4760</td>
	</tr>
	<tr>
		<td>做自己4</td>
		<td>308</td>
	</tr>
	<tr>
		<td>做自己5</td>
		<td>132</td>
	</tr>
	<tr>
		<td>做自己6</td>
		<td>218</td>
	</tr>
	<tr>
		<td>全员改善</td>
		<td>398</td>
	</tr>
	
	<tr>
		<td>决不拖延</td>
		<td>468</td>
	</tr>
	
	<tr>
		<td>刀刃激励</td>
		<td>290</td>
	</tr>
	
	<tr>
		<td>引爆销售</td>
		<td>8160</td>
	</tr>
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</th>
		<td width="50%" >&nbsp;</th>
	</tr>
</tfoot>
</table>


<script type="text/javascript">

var dataSource=[
		{day: "做自己", oranges: 242},
        {day: "引爆销售1", oranges: 6800},
        {day: "引爆销售2", oranges: 4760},
        {day: "做自己4", oranges: 308},
        {day: "做自己5", oranges: 132},
        {day: "做自己6", oranges: 218},
		{day: "全员改善", oranges: 398},
		{day: "决不拖延", oranges: 437.8},
        {day: "决不销售", oranges: 468},
        {day: "刀刃激励", oranges: 290},
        {day: "引爆销售", oranges: 8160} 
];
$("#chartContainer").dxChart({
    dataSource:dataSource,
 
    series: {
        argumentField: "day",
        valueField: "oranges",
        name: "产品名称",
        type: "bar",
        color: '#ffa500'
    },
	valueAxis: {
					title: {
						text: "单位：元"
					},
					position: "left"
				},
				title:"本月产品成交汇总",
});

$.each(dataSource,function(i,date){
		
				$('table').each(function(){
					
					$(this).find('tr:even').css("background","#ccc");
					$(this).find('tr:odd').css("background","#eee");
			});
		});

	
</script>