<div id="chartContainer">

</div>


<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >地区</th>
		<th width="50%" >占比</th>

	</tr>
</thead>
	<tbody id="rrr">
	<tr>
		<td>东北</td>
		<td>9%</td>
	</tr>
	<tr>
		<td>东南</td>
		<td>16%</td>
	</tr>
	<tr>
		<td>华东</td>
		<td>21%</td>
	</tr>
	<tr>
		<td>华中</td>
		<td>18%</td>
	</tr>
	<tr>
		<td>华北</td>
		<td>23%</td>
	</tr>
	<tr>
		<td>西南</td>
		<td>8%</td>
	</tr>
	<tr>
		<td>西北</td>
		<td>5%</td>
	</tr>
	
	
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</th>
		<td width="50%" >&nbsp;</th>
	</tr>
</tfoot>
</table>


<script type="text/javascript">
var dataSource = [
    { country: "东北", area: 9.00 },
    { country: "东南 ", area:16.00 },
    { country: "华东", area: 21.00},
    { country: "华中", area: 18.00 },
    { country: "华北", area: 23.00 },
    { country: "西南", area: 8.00 },
    { country: "西北", area: 5.00 },
    
  

];

$("#chartContainer").dxPieChart({
    size:{ 
        width: 500
    },
    dataSource: dataSource,
    series: [
        {
            argumentField: "country",
            valueField: "area",
            label:{
                visible: true,
                connector:{
                    visible:true,           
                    width: 1
                }
            }
        }
    ],
    title: "潜客地区分布"
});

		$.each(dataSource,function(i,date){
				$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
				});
		
		});

</script>