<div id="chartContainer">

</div>


<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >职务</th>
		<th width="50%" >占比</th>

	</tr>
</thead>
	<tbody id="rrr">
	<tr>
		<td>董事长</td>
		<td>41%</td>
	</tr>
	<tr>
		<td>销售总监</td>
		<td>4%</td>
	</tr>
	<tr>
		<td>营销总监</td>
		<td>7%</td>
	</tr>
	<tr>
		<td>总经理</td>
		<td>14%</td>
	</tr>
	
	<tr>
		<td>厂长</td>
		<td>16%</td>
	</tr>
	<tr>
		<td>总裁</td>
		<td>18%</td>
	</tr>
	
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</th>
		<td width="50%" >&nbsp;</th>
	</tr>
</tfoot>
</table>


<script type="text/javascript">
var dataSource = [
    { country: "董事长", area: 41.00},
    { country: "销售总监", area: 4.00 },
    
    { country: "营销总监", area: 7.00},
    { country: "总经理", area:14.00},
   { country: "厂长", area:16.00},
   { country: "总裁", area:18.00},

];

$("#chartContainer").dxPieChart({
    size:{ 
        width: 500
    },
    dataSource: dataSource,
    series: [
        {
            argumentField: "country",
            valueField: "area",
            label:{
                visible: true,
                connector:{
                    visible:true,           
                    width: 1
                }
            }
        }
    ],
    title: "潜客户职位结构"
});

		$.each(dataSource,function(i,date){
				$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
				});
		
		});
</script>