<div id="chartContainer">

</div>

<script type="text/javascript">

var dataSource = [
    { country: "信息传输、计算机服务和软件业", area: 6.00 },
    { country: "广告媒体 ", area:8.00 },
    { country: "生物制药", area: 5.00},
    { country: "服务业", area: 10.00 },
    { country: "办公用品及设备", area: 6.00 },
    { country: "金融投资", area: 10.00 },
    { country: "医疗设备", area: 4.00 },
   { country: "汽车销售服务 ", area:3.00 },
    { country: "政府", area: 5.00},
    { country: "化工", area: 2.00 },
    { country: "贸易和进出口", area: 5.00 },
    { country: "多元化", area: 8.00 },
    { country: "房地产", area: 6.00 },
   { country: "服装 ", area:7.00 },
    { country: "制造", area: 9.00},
    { country: "建筑业", area: 2.00 },
    { country: "批发零售", area: 2.00 },
    { country: "文化和教育", area: 2.00 },
    

];

$("#chartContainer").dxPieChart({
    size:{ 
        width: 1000
    },
    dataSource: dataSource,
    series: [
        {
            argumentField: "country",
            valueField: "area",
            label:{
                visible: true,
                connector:{
                    visible:true,           
                    width: 1
                }
            }
        }
    ],
    title: "潜客行业结构"
});

</script>