<div id="chartContainer">

</div>

<script type="text/javascript">

var dataSource = [
    
  
    { country: "做自己想做的人-1（做乐观积极的人）", area: 3.00 },
    { country: "做自己想做的人-2（做乐观积极的人）", area:  3.00},
    { country: "做自己想做的人-3（做乐观积极的人）", area: 3.00 },
    { country: "做自己想做的人-4（做乐观积极的人）", area:  3.00 },
    { country: "做自己想做的人-5（做乐观积极的人）", area:  3.00 },
    { country: "全员改善 ", area:  5.00 },
    { country: "其他课程-赢利模式", area: 3.00 },
    { country: "内训课程（150000）", area:  3.00 },
    { country: "内训课程（67800）", area:  3.00 },
    { country: "内训课程（870000）", area:  1.00 },
    { country: "三寸之舌赢天下-做人做事必备的技能", area:  3.00 },
    { country: "五项管理(日志)本册", area:  3.00 },
    { country: "五项管理(日志)本册(非卖品)", area:  1.00 },
    { country: "五项管理-总裁版日志PUC", area:  4.00 },
    { country: "五项管理七天版", area:  4.00 },
    { country: "五项管理口袋书", area:  3.00 },
    { country: "五项管理口袋书1.心态管理", area:  3.00 },
    { country: "五项管理日志光碟", area:  1.00 },
    { country: "五项管理环保袋（3元版）", area:  3.00},
    { country: "砍掉成本I", area:  5.00 },
    { country: "砍掉成本II", area:  3.00 },
    { country: "第七期效率专家", area:  4.00 },
    { country: "企业能量操", area:  2.00 }
  
   
];

$("#chartContainer").dxPieChart({
    size:{ 
        width: 900
    },
    dataSource: dataSource,
    series: [
        {
            argumentField: "country",
            valueField: "area",
            label:{
                visible: true,
                connector:{
                    visible:true,           
                    width: 1
                }
            }
        }
    ],
    title: "成交客户购买产品分析"
});


</script>