<div id="chartContainer">

</div>

<script type="text/javascript">

var dataSource = [
    { country: "东北", area: 14.00 },
    { country: "东南", area: 12.00 },
    { country: "华东", area: 21.00},
    { country: "华中", area: 15.00 },
    { country: "华北", area: 27.00 },
    { country: "西南", area: 7.00 },
    { country: "西北", area: 5.00 },
];

$("#chartContainer").dxPieChart({
    size:{ 
        width: 500
    },
    dataSource: dataSource,
    series: [
        {
            argumentField: "country",
            valueField: "area",
            label:{
                visible: true,
                connector:{
                    visible:true,           
                    width: 1
                }
            }
        }
    ],
    title: "成交客户地区分布"
});


</script>