<div id="chartContainer">

</div>

<script type="text/javascript">

var dataSource = [
    { country: "董事长", area: 35.00},
    { country: "销售总监", area: 3.00 },
    { country: "市长", area: 5.00},
    { country: "营销总监", area: 4.00},
    { country: "总经理", area:19.00},
   { country: "厂长", area:16.00},
   { country: "总裁", area:22.00},

];

$("#chartContainer").dxPieChart({
    size:{ 
        width: 500
    },
    dataSource: dataSource,
    series: [
        {
            argumentField: "country",
            valueField: "area",
            label:{
                visible: true,
                connector:{
                    visible:true,           
                    width: 1
                }
            }
        }
    ],
    title: "成交客户职位结构"
});

</script>