<div id="chartContainer">

</div>

<table style="width:400px;margin-top:40px;">
<thead>
	<tr>
		<th width="50%" >姓名</th>
		<th width="50%" >天数</th>

	</tr>
</thead>
	<tbody id="rrr">
	<tr>
		<td>李志刚</td>
		<td>6</td>
	</tr>
	<tr>
		<td>冯凯</td>
		<td>5</td>
	</tr>
	<tr>
		<td>赵欢</td>
		<td>10</td>
	</tr>
	<tr>
		<td>杨阳</td>
		<td>12</td>
	</tr>
	<tr>
		<td>韩东</td>
		<td>4</td>
	</tr>
	<tr>
		<td>韩冰</td>
		<td>15</td>
	</tr>
	<tr>
		<td>李响</td>
		<td> 9</td>
	</tr>
	
	<tr>
		<td>朱至清</td>
		<td>18</td>
	</tr>
	
	
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</th>
		<td width="50%" >&nbsp;</th>
	</tr>
</tfoot>
</table>


<script type="text/javascript">

var dataSource = [
    { time: "李志刚", food: 6 },
    { time: "冯凯", food: 5   },
    { time: "赵欢", food: 10, capital: 15957, auto: 7603, goods: 9311 },
    { time: "杨阳", food: 12, capital: 15706, auto: 8046, goods: 9342 },
    { time: "韩东", food: 4, capital: 14940, auto: 8233, goods: 9244 },
     { time: "韩冰", food: 15, capital: 14940, auto: 8233, goods: 9244 },
     { time: "李响", food: 9, capital: 14940, auto: 8233, goods: 9244 },
    { time: "朱至清", food: 18, capital: 15664, auto: 8642, goods: 10134 }
];

$("#chartContainer").dxChart({
    dataSource: dataSource,
    commonSeriesSettings: {
        type: "stackedLine",
        argumentField: "time"
    },
    commonPaneSettings: {
        border: {
            visible: true            
        }
    },
    commonAxisSettings: {
        grid: {
           visible: true
        }
    },
    series: [
        { valueField: "food", name: "人均跟进天数" },
      
    ],
    title: "分公司每月人均跟进时长对比",
    legend: {
        verticalAlignment: "bottom",
        horizontalAlignment: "center"
    },
    tooltip:{
        enabled: true
    }
});

		$.each(dataSource,function(i,date){
				$('table').each(function(){
				$(this).find('tr:even').css("background","#ccc");
				$(this).find('tr:odd').css("background","#eee");
				});
		
		});


</script>