<div id="chartContainer">

</div>

<table style="width:550px;margin-top:40px;">
<thead>
	<tr>
		<th style="width:50%" >日期</th>
		<th  >成效金额</th>
		<th  >成交率</th>
		<th  >潜客数量</th>
	</tr>
</thead> 
	<tbody id="rrr">
	<tr>
		<td style="background:#eee;" >2013年5月</td>
		<td  >107</td>
		<td >23%</td>
		<td  >312</td>
	</tr>
	<tr style="background:#ccc;">
	<td  >2013年6月</td>
		<td  >153</td>
		<td  >36%</td>
		<td  >417</td>
	</tr>
	<tr style="background:#eee;">
		<td>2013年7月</td>
		<td>116</td>
		<td >26%</td>
		<td >350</td>
	</tr>
	</tbody>
<tfoot>
	<tr>
		<td width="50%" >&nbsp;</td>
		<td width="50%" >&nbsp;</td>
	</tr>
</tfoot>
</table>

<script type="text/javascript">

var dataSource = [
    { state: "2013年5月", year1998:312, year2001: 232.07, year2004:  107 },
    { state: "2013年6月", year1998: 473 , year2001: 316.35, year2004: 153 },
    { state: "2013年7月", year1998:350, year2001: 263.06, year2004: 116 }

];

$("#chartContainer").dxChart({
    dataSource: dataSource,
    commonSeriesSettings: {
        argumentField: "state",
        type: "bar",
        hoverMode: "allArgumentPoints",
        selectionMode: "allArgumentPoints",
        label: {
            visible: true,
            format: "fixedPoint",
            precision: 0
        }
    },
    series: [
        { valueField: "year2004", name: "成交金额" },
        { valueField: "year2001", name: "成交率" },
        { valueField: "year1998", name: "潜客数量" }
    ],
    title: "销售转化趋势",
    legend: {
        verticalAlignment: "bottom",
        horizontalAlignment: "center"
    },
    pointClick: function (point) {
        this.select();
    }
});


</script>