<div id="chart1" style="margin-left:30px">

</div>

<div id="chart2" style="margin-left:30px;margin-top:30px">

</div>

<script type="text/javascript">
function draw1(){
	$.ajax({
		  url: baseUrl
		, data: { sql: "shwx01" }
	}).done(function(data){
		$("#chart1").dxChart({
			dataSource: JSON.parse(data),
			commonSeriesSettings: {
				type: "stackedLine",
				argumentField: "sh_odate"
			},
			commonPaneSettings: {
				border: {
					visible: true            
				}
			},
			commonAxisSettings: {
				grid: {
				   visible: true
				}
			},
			argumentAxis: {
                    valueMarginsEnabled: false,
                    placeholderSize: 25,
                    argumentType: 'datetime',
                    tickInterval: { days: 1 },
                    label: {
                        overlappingBehavior: { mode: 'ignore' },
                        format: 'dd'
                    }
                },
			series: [
				{ valueField: "sh_cus_hc", name: "数量" }
			 
			],
			title: "5月份每天新增潜客数量变化趋势",
			tooltip:{
				enabled: true
			},
			legend: {
					verticalAlignment: "top",
					horizontalAlignment: "right",
				},
				valueAxis: {
					title: {
						text: "单位：个"
					},
					position: "left"
				},
		});
	}).done(draw2).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});
}
function draw2(){
	$.ajax({
		  url: baseUrl
		, data: { sql: "wx07" }
	}).done(function(data){
		$("#chart2").dxChart({
			dataSource: JSON.parse(data),
			commonSeriesSettings: {
				type: "stackedLine",
				argumentField: "_month"
			},
			commonPaneSettings: {
				border: {
					visible: true            
				}
			},
			commonAxisSettings: {
				grid: {
				   visible: true
				}
			},
			series: [
				{ valueField: "_amount", name: "数量" }
			 
			],
			title: "2013年销售金额变化趋势",
			legend: {
				verticalAlignment: "top",
					horizontalAlignment: "right",
			},
			tooltip:{
				enabled: true
			},
			valueAxis: {
					title: {
						text: "单位：万元"
					},
					position: "left"
				},
			
		});
	}).fail(function(message){
		$.alert({message:message.responseText, onOk : function(){
			$.unblockUI();
		}});
	});

}
function wx99(){
	draw1();
}
</script>