<%@ page import="com.cyberoller.xbi.shiro.Role" %>
<ol class="property-list role">

	<g:if test="${roleInstance?.name}">
	<li class="fieldcontain">
		<span id="name-label" class="property-label"><g:message code="role.name.label" default="Name" /></span>
		<span class="property-value" aria-labelledby="name-label"><g:fieldValue bean="${roleInstance}" field="name"/></span>
	</li>
	</g:if>

	<g:if test="${roleInstance?.alias}">
	<li class="fieldcontain">
		<span id="alias-label" class="property-label"><g:message code="role.alias.label" default="Alias" /></span>
		<span class="property-value" aria-labelledby="alias-label"><g:fieldValue bean="${roleInstance}" field="alias"/></span>
	</li>
	</g:if>

	<g:if test="${roleInstance?.description}">
	<li class="fieldcontain">
		<span id="description-label" class="property-label"><g:message code="role.description.label" default="Description" /></span>
		<span class="property-value" aria-labelledby="description-label"><g:fieldValue bean="${roleInstance}" field="description"/></span>
	</li>
	</g:if>


	<g:if test="${roleInstance?.permissions}">
	<li class="fieldcontain">
		<span id="permissions-label" class="property-label"><g:message code="role.permissions.label" default="Permissions" /></span>
		<span class="property-value" aria-labelledby="permissions-label"><g:fieldValue bean="${roleInstance}" field="permissions"/></span>
	</li>
	</g:if>

	<g:if test="${roleInstance?.users}">
	<li class="fieldcontain">
		<span id="users-label" class="property-label"><g:message code="role.users.label" default="Users" /></span>
		<g:each in="${roleInstance.users}" var="u">
			<span class="property-value" aria-labelledby="users-label"><g:link controller="user" action="show" id="${u.id}">${u?.encodeAsHTML()}</g:link></span>
		</g:each>
	</li>
	</g:if>

	<g:if test="${roleInstance?.dateCreated}">
	<li class="fieldcontain">
		<span id="dateCreated-label" class="property-label"><g:message code="role.dateCreated.label" default="Date Created" /></span>
		<span class="property-value" aria-labelledby="dateCreated-label"><g:formatDate date="${roleInstance?.dateCreated}" /></span>
	</li>
	</g:if>

	<g:if test="${roleInstance?.lastUpdated}">
	<li class="fieldcontain">
		<span id="lastUpdated-label" class="property-label"><g:message code="role.lastUpdated.label" default="Last Updated" /></span>
		<span class="property-value" aria-labelledby="lastUpdated-label"><g:formatDate date="${roleInstance?.lastUpdated}" /></span>
	</li>
	</g:if>


</ol>