body {
    padding-bottom: 0;
    min-height: 100%;

    font: 12px/1.5 Tahoma, "Microsoft YaHei", arial, "宋体";
    /*font-family: Tahoma, "Microsoft YaHei", "宋体", "黑体";*/
    font-size: 12px;
}

/**bootstrap3 style white button **/
.btn-white {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.loading-bar-150_14 {
    min-width: 150px;
    background: url('../images/loading-bar-150x14.gif') no-repeat center 0;
}

/**serach table **/

.table-search {
   margin: 5px 0;
}

.table-search .text, .table-search td {
    padding: 0px 5px;
}

.table-search .text {
    background: none repeat scroll 0 0 #f8f8f8 ;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

.table-search label {
    padding-top:0;
    margin: 0;
}

.table-search .form-control {
    width: 100%;
    height: 28px;
    padding: 0;
    margin-bottom: 0;

}