html {
    min-height: 100%;
    position: relative;
}
body {
    padding-bottom: 0;
    min-height: 100%;
    font: 12px/1.5 Tahoma, "Microsoft YaHei",arial, "宋体";
    font-size: 12px;
}
body.navbar-fixed {
    padding-top: 40px;
}


/* ace default theme layout sections */
.main-container {
    position: static;
    padding: 0;
}
.main-container:after {
    background-color: #FFF;
    bottom: 0;
    content: "";
    display: block;
    max-width: inherit;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}

.main-container > .main-container-inner {
    position: relative;
}
.container.main-container .sidebar.sidebar-fixed,
.container.main-container .sidebar.sidebar-fixed:before {
    left: auto;
}
body.sidebar-min .main-content{
    margin-left: 35px;
}
.main-content {
    margin-left: 190px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0;
}
.page-content {
    background: #ffffff;
    margin: 0;
    padding: 8px 20px 24px;
}

.page-header {
    margin: 0;
    border-bottom: 1px dotted #e2e2e2;
    padding: 15px;
}
.page-header h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 20px;
    font-weight: lighter;
    color: #687087;
}
.page-header h1 small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: normal;
    color: #687087;
}

/* elements */
[class*=" fa-"],
[class^="fa-"] {
    display: inline-block;
    text-align: center;
}
a:focus,
a:active {
    text-decoration: none;
}

.footer_con {
	text-align: center;
	padding-top: 60px;
	margin: 30px 0 30px 0;
	line-height: 140%;
	color: #999;
	font-size: 12px;
}