
.sidebar {
    width: 190px;
    float: left;
    position: relative;
    border: 1px solid #cccccc;
    border-width: 0 1px 0 0;
    background-color: #f2f2f2;
}

.sidebar:before {
    /* the grey background of sidebar */

    content: "";
    display: block;
    width: 190px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    border-width: 0 1px 0 0;
}

.sidebar.fixed,
.sidebar.sidebar-fixed {
    position: fixed;
    z-index: 1029;
    top: 45px;
    left: 0;
}

.sidebar.fixed:before,
.sidebar.sidebar-fixed:before {
    left: 0;
    right: auto;
}

/* side navigation */
li [class^="fa-"],
li [class*=" fa-"],
.nav-list li [class^="fa-"],
.nav-list li [class*=" fa-"] {
    width: auto;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list .open > a,
.nav-list .open > a:hover,
.nav-list .open > a:focus {
    background-color: #fafafa;
}

.nav-list > li > a,
.nav-list .nav-header {
    margin: 0;
}

.nav-list > li {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid #FCFCFC;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}

.nav-list > li:first-child {
    border-top: none;
}

.nav-list li > a:focus {
    outline: none;
}



.nav-list > li > a {
    display: block;
    height: 38px;
    line-height: 36px;
    padding: 0 16px 0 7px;
    background-color: #f9f9f9;
    color:#666;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none;
}

.nav-list > li > a > [class*="fa-"]:first-child {
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-right: 2px;
}

.nav-list > li > a:focus,
.nav-list > li > a:active
{
    background-color: #f9f9f9;
    color: #222;
    font-weight: bold;
}

.nav-list > li > a:hover {
    background-color: #FFF;
    color: #222;
    font-weight: bold;
}

.nav-list > li > a:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #cc181e;
}

.nav-list > li a > .arrow {
    display: inline-block;
    width: 14px !important;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 11px;
    top: 11px;
    padding: 0;
    color: #666666;
}

.nav-list > li a:hover > .arrow,
.nav-list > li.active > a > .arrow,
.nav-list > li.open > a > .arrow {
    color: #222;
    font-weight: bold;
}

.nav-list > li.separator {
    height: 3px;
    background-color: transparent;
    position: static;
    margin: 1px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-list > li.open > a {
    background-color: #fafafa;
    color: #222;
}

.nav-list > li.open > a:hover {

    color: #222;
}

.nav-list > li.active {
    background-color: #ffffff;
}

.nav-list > li.active > a,
.nav-list > li.active > a:hover,
.nav-list > li.active > a:focus,
.nav-list > li.active > a:active {
    background-color: #fff;
    color: #cc181e;
    font-weight: bold;
    font-size: 13px;
}

.nav-list > li.active > a > [class*="fa-"] {
    font-weight: normal;
}

.nav-list > li.active > a:hover:before {
    /* no left side menu item border on active state */

    display: none;
}

.nav-list > li.active:after {
    /* the border on right of active item */

    display: inline-block;
    content: "";
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: 0;
    z-index: 1;
    border: 2px solid #cc181e;
    border-width: 0 2px 0 0;
}

.nav-list > li.open {
    border-bottom-color: #e5e5e5;
}

.nav-list > li.active .submenu {
    display: block;
}

.nav-list > li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
}

.nav-list > li .submenu > li {
    margin-left: 0;
    position: relative;
    height: 40px;
    /* optional icon before each item */

}

.nav-list > li .submenu > li > a {
    display: block;
    position: relative;
    color: #616161;
    padding: 7px 0 9px 37px;
    margin: 0;
}

.nav-list > li .submenu > li > a:focus {
    text-decoration: none;
}

.nav-list > li .submenu > li > a:hover {
    text-decoration: none;
    color: #cc181e;
}

.nav-list > li .submenu > li.active > a {
    color: #cc181e;
    font-weight: bold;
}

.nav-list > li .submenu > li a > [class*="fa-"]:first-child {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 11px;
    z-index: 1;
    background-color: #FFF;
}

.nav-list > li .submenu > li.active > a > [class*="fa-"]:first-child,
.nav-list > li .submenu > li:hover > a > [class*="fa-"]:first-child {
    display: inline-block;
}

.nav-list > li .submenu > li.active > a > [class*="fa-"]:first-child {
    color: #c86139;
}

.nav-list > li > .submenu > li:before {
    /* the horizontal line */

    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    left: 20px;
    top: 17px;
    border-top: 1px dotted #9dbdd6;
}

.nav-list > li > .submenu > li:first-child > a {
    border-top: 1px solid #FAFAFA;
}

.nav-list > li > .submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 1px dotted #9dbdd6;
    border-width: 0 0 0 1px;
}

.nav-list > li.active > .submenu > li:before {
    border-top-color: #8eb3d0;
}

.nav-list > li.active > .submenu:before {
    border-left-color: #8eb3d0;
}

.nav-list li .submenu {
    /* needed for webkit based browsers to slideToggle without problem */

    overflow: hidden;
}

.nav-list li.active > a:after {
    display: block;
    content: "";
    position: absolute !important;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
    border-right-color: #cc181e;
}

.nav-list li.open > a:after {
    /* no caret for open menu item */
    display: none;
}

.nav-list li.active.open > .submenu > li.active.open > a.dropdown-toggle:after {
    /* don't display caret on active open item who is open and has children */

    display: none;
}

.nav-list li.active > .submenu > li.active > a:after {
    /** don't display caret on active item whose parent is not open
      useful for hiding the caret when submenu is sliding up */

    display: none;
}

.nav-list li.active.open > .submenu > li.active > a:after {
    /* display caret on active item whose parent is open */

    display: block;
}

.nav-list li.active.no-active-child > a:after {
    /* show caret for active menu item with childs which is not open(i.e. no submenu item is active) */

    display: inline-block !important;
}

.nav-list a .badge,
.nav-list a .label {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    top: 9px;
    right: 11px;
    opacity: 0.88;
}

.nav-list a .badge [class*="fa-"],
.nav-list a .label [class*="fa-"] {
    vertical-align: middle;
    margin: 0;
}

.nav-list a.dropdown-toggle .badge,
.nav-list a.dropdown-toggle .label {
    right: 28px;
}

.nav-list a:hover .badge,
.nav-list a:hover .label {
    opacity: 1;
}

.nav-list .submenu .submenu a .badge,
.nav-list .submenu .submenu a .label {
    top: 6px;
}

/* side menu minimizer icon */
.sidebar-collapse {
    border-bottom: 1px solid #e0e0e0;
    background-color: #f3f3f3;
    text-align: center;
    padding: 3px 0;
    position: relative;
}

.sidebar-collapse > [class*="fa-"] {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #aaaaaa;
    border: 1px solid #bbbbbb;
    padding: 0 5px;
    line-height: 18px;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
}

.sidebar-collapse:before {
    content: "";
    display: inline-block;
    height: 0;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 13px;
}

.nav-list > li > .submenu li > .submenu {
    border-top: none;
    background-color: transparent;
    display: none;
}

.nav-list > li > .submenu li.active > .submenu {
    display: block;
}

.nav-list > li > .submenu a > .arrow {
    right: 11px;
    top: 10px;
    font-size: 16px;
    color: #6B828E;
}

.nav-list > li > .submenu .open > a,
.nav-list > li > .submenu .open > a:hover,
.nav-list > li > .submenu .open > a:focus {
    background-color: transparent;
    border-color: #e4e4e4;
}

.nav-list > li > .submenu li > .submenu > li > a > .arrow {
    right: 12px;
    top: 9px;
}

.nav-list > li > .submenu li > .submenu > li {
    line-height: 16px;
}

.nav-list > li > .submenu li > .submenu > li:before {
    display: none;
}

.nav-list > li > .submenu li > .submenu > li > a {
    /*3rd level*/

    margin-left: 20px;
    padding-left: 22px;
}

.nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
    /*4th level*/

    margin-left: 20px;
    padding-left: 38px;
}

.nav-list > li > .submenu li > .submenu > li a > [class*="fa-"]:first-child {
    display: inline-block;
    color: inherit;
    font-size: 14px;
    position: static;
    background-color: transparent;
    margin-right: 1px;
}

.nav-list > li > .submenu li > .submenu > li a {
    font-size: 13px;
    color: #777;
}

.nav-list > li > .submenu li > .submenu > li a:hover {
    color: #cc181e;
    text-decoration: underline;
}

.nav-list > li > .submenu li > .submenu > li a:hover [class*="fa-"] {
    text-decoration: none;
    color: #cc181e;
}

.nav-list > li > .submenu li.open > a {
    color: #cc181e;
}

.nav-list > li > .submenu li.open > a > [class*="fa-"]:first-child {
    display: inline-block;
}

.nav-list > li > .submenu li.open > a .arrow {
    color: #cc181e;
}

.nav-list > li > .submenu li > .submenu li.open > a {
    color: #cc181e;
}

.nav-list > li > .submenu li > .submenu li.open > a > [class*="fa-"]:first-child {
    display: inline-block;
    color: #cc181e;
}

.nav-list > li > .submenu li > .submenu li.open > a .arrow {
    color: #cc181e;
}

.nav-list > li > .submenu li > .submenu li.active > a {
    color: #cc181e;
}

.nav-list > li > .submenu li > .submenu li.active > a > [class*="fa-"]:first-child {
    display: inline-block;
    color: #cc181e;
}

.nav-list > li.active.open li.active > a:after {
    top: 2px;
    border-width: 14px 8px;
}

.nav-list > li.active.open li.active.open li.active > a:after {
    top: 0;
}

.menu-min.sidebar {
    width: 43px;
}

.menu-min.sidebar:before {
    width: 43px;
}

.menu-min.sidebar + .main-content {
    margin-left: 43px;
}

.menu-min.sidebar + .main-content .breadcrumbs.fixed,
.menu-min.sidebar + .main-content .breadcrumbs.breadcrumbs-fixed {
    left: 43px;
}

.menu-min .nav-list a .badge,
.menu-min .nav-list a .label {
    position: relative;
    top: -1px;
    right: auto;
    left: 4px;
}

.menu-min .nav-list .submenu .submenu a .badge,
.menu-min .nav-list .submenu .submenu a .label {
    top: 0;
}

.menu-min .nav-list > li > a {
    position: relative;
}

.menu-min .nav-list > li > a > .menu-text-in {
    display: none;
    position: absolute;
    left: 42px;
    top: -2px;
    width: 174px;
    height: 40px;
    line-height: 38px;
    background-color: #f5f5f5;
    z-index: 121;
    -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #cccccc;
    padding-left: 12px;
}

.menu-min .nav-list > li > a.dropdown-toggle > .menu-text-in {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    top: -1px;
    left: 43px;
    width: 174px;
    border-bottom: 1px solid #dddddd;
}

.menu-min .nav-list > li > a .arrow {
    display: none;
}

.menu-min .nav-list > li > a:hover:before {
    /* the right side border on hover */

    width: 2px;
}

.menu-min .nav-list > li:hover > a {
    color: #cc181e;
}

.menu-min .nav-list > li:hover > a > .menu-text-in {
    display: block;
}

.menu-min .nav-list > li.active > a > .menu-text-in {
    border-left-color: #cc181e;
}

.menu-min .nav-list > li.open > a {
    background-color: #fafafa;
    color: #585858;
}

.menu-min .nav-list > li.open.active > a {
    background-color: #ffffff;
}

.menu-min .nav-list > li.open:hover > a {
    color: #cc181e;
}

.menu-min .nav-list > li.active > a {
    color: #cc181e;
}

.menu-min .nav-list > li.active > a:after {
    /* the caret */

    border-width: 10px 6px;
    top: 8px;
}

.menu-min .nav-list > li.active.open > a:after {
    display: block;
}

.menu-min .nav-list > li.active.open li.active > a:after {
    display: none;
}

.menu-min .nav-list > li > .submenu {
    background: #ffffff;
    position: absolute;
    z-index: 120;
    left: 42px;
    top: -2px;
    width: 176px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding-top: 40px;
    padding-bottom: 2px;
    display: none !important;
}

.menu-min .nav-list > li > .submenu:before {
    /* hide the tree like submenu in minimized mode */

    display: none;
}

.menu-min .nav-list > li > .submenu li:before {
    display: none;
}

.menu-min .nav-list > li > .submenu li > a {
    margin-left: 0;
    padding-left: 24px;
}

.menu-min .nav-list > li > .submenu li > a > [class*="fa-"]:first-child {
    left: 4px;
}

.menu-min .nav-list > li:hover > .submenu {
    display: block !important;
}

.menu-min .nav-list > li.active > .submenu {
    border-left-color:#cc181e;
}

.menu-min .sidebar-collapse {
    /* minimized collapse button */

}

.menu-min .sidebar-collapse:before {
    left: 5px;
    right: 5px;
}

.menu-min .sidebar-collapse > [class*="fa-"] {
    font-size: 13px;
    padding: 0 4px;
    line-height: 15px;
    border-width: 1px;
    border-color: #aeaeae;
}

.menu-min .nav-list > li > .submenu li > .submenu > li > a {
    /*3rd level*/

    margin-left: 0px;
    padding-left: 30px;
}

.menu-min .nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
    /*4th level*/

    margin-left: 0px;
    padding-left: 45px;
}

.menu-min .nav-list > li > .submenu li.active > a:after {
    display: none;
}

.menu-min .nav-list li.active.open > .submenu > li.active > a:after {
    display: none;
}

/* side menu toggler in mobile view */
.menu-toggler {
    display: none;
}
