
/* headers */
.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC;
}
.header.blue {
    border-bottom-color: #d5e3ef;
}
.header.green {
    border-bottom-color: #cce2c1;
}
.header.purple {
    border-bottom-color: #e0d1ea;
}
.header.orange {
    border-bottom-color: #fdd0ac;
}
.header.orange2 {
    border-bottom-color: #fbd36b;
}
.header.red {
    border-bottom-color: #f3cdc6;
}
.header.grey {
    border-bottom-color: #c3c3c3;
}
.header.pink {
    border-bottom-color: #f2e0eb;
}
.header.pink2 {
    border-bottom-color: #e69eb9;
}
.header.light-blue {
    border-bottom-color: #dceefc;
}
.header.light-red {
    border-bottom-color: #fec5c5;
}
.header.light-green {
    border-bottom-color: #d2e7b5;
}
.header.brown {
    border-bottom-color: #df9393;
}
.header > [class*="fa-"] {
    margin-right: 2px;
}
.no-radius {
    border-radius: 0 !important;
}
.action-buttons a {
    margin: 0 3px;
    display: inline-block;
    opacity: 0.85;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.action-buttons a:hover {
    text-decoration: none;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.navbar {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    min-height: 45px;
    position: relative;
    background: #76758C;
}
.navbar > .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar .navbar-text,
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-brand {
    color: #ffffff;
    font-size: 24px;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}
.navbar .navbar-header {
    margin: 0 !important;
}
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    font-size: 13px;
    text-shadow: none;
    color: #ffffff;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
}
.navbar-container {
    padding-left: 10px;
    padding-right: 20px;
}
.navbar-container.container {
    padding-left: 0;
    padding-right: 0;
}
/* ace-nav */
.ace-nav {
    height: 100%;
    margin: 0 !important;
}
.ace-nav > li {
    line-height: 45px;
    height: 45px;
    border-left: 1px solid #DDD;
    padding: 0;
    position: relative;
    float: left !important;
    /* different colors */

}
.ace-nav > li:first-child {
    border-left: none;
}
.ace-nav > li > a {
    background-color: #2e6589;
    color: #FFF;
    display: block;
    line-height: inherit;
    text-align: center;
    height: 100%;
    width: auto;
    min-width: 50px;
    padding: 0 8px;
    position: relative;
}
.ace-nav > li > a > [class*="fa-"] {
    font-size: 16px;
    color: #FFF;
    display: inline-block;
    width: 20px;
    text-align: center;
}
.ace-nav > li > a > .badge {
    position: relative;
    top: -4px;
    left: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
.ace-nav > li > a:hover,
.ace-nav > li > a:focus {
    background-color: #2c5976;
}
.ace-nav > li.open > a {
    background-color: #2c5976 !important;
}
.ace-nav > li.open > a {
    color: #FFF !important;
}
.ace-nav > li.grey > a {
    background-color: #555555;
}
.ace-nav > li.grey > a:hover,
.ace-nav > li.grey > a:focus {
    background-color: #4b4b4b;
}
.ace-nav > li.open.grey > a {
    background-color: #4b4b4b !important;
}
.ace-nav > li.purple > a {
    background-color: #892e65;
}
.ace-nav > li.purple > a:hover,
.ace-nav > li.purple > a:focus {
    background-color: #762c59;
}
.ace-nav > li.open.purple > a {
    background-color: #762c59 !important;
}
.ace-nav > li.green > a {
    background-color: #2e8965;
}
.ace-nav > li.green > a:hover,
.ace-nav > li.green > a:focus {
    background-color: #2c7659;
}
.ace-nav > li.open.green > a {
    background-color: #2c7659 !important;
}
.ace-nav > li.light-blue > a {
    background-color: #76758C;
}
.ace-nav > li.light-blue > a:hover,
.ace-nav > li.light-blue > a:focus {
    background-color: #579ec8;
}
.ace-nav > li.open.light-blue > a {
    background-color: #579ec8 !important;
}
.ace-nav > li.light-blue2 > a {
    background-color: #42a8e1;
}
.ace-nav > li.light-blue2 > a:hover,
.ace-nav > li.light-blue2 > a:focus {
    background-color: #359fd9;
}
.ace-nav > li.open.light-blue2 > a {
    background-color: #359fd9 !important;
}
.ace-nav > li.red > a {
    background-color: #b74635;
}
.ace-nav > li.red > a:hover,
.ace-nav > li.red > a:focus {
    background-color: #a34335;
}
.ace-nav > li.open.red > a {
    background-color: #a34335 !important;
}
.ace-nav > li.light-green > a {
    background-color: #9abc32;
}
.ace-nav > li.light-green > a:hover,
.ace-nav > li.light-green > a:focus {
    background-color: #8ba832;
}
.ace-nav > li.open.light-green > a {
    background-color: #8ba832 !important;
}
.ace-nav > li.light-purple > a {
    background-color: #cb6fd7;
}
.ace-nav > li.light-purple > a:hover,
.ace-nav > li.light-purple > a:focus {
    background-color: #c263ce;
}
.ace-nav > li.open.light-purple > a {
    background-color: #c263ce !important;
}
.ace-nav > li.light-orange > a {
    background-color: #f79263;
}
.ace-nav > li.light-orange > a:hover,
.ace-nav > li.light-orange > a:focus {
    background-color: #f28653;
}
.ace-nav > li.open.light-orange > a {
    background-color: #f28653 !important;
}
.ace-nav > li.light-pink > a {
    background-color: #f4dae5;
}
.ace-nav > li.light-pink > a:hover,
.ace-nav > li.light-pink > a:focus {
    background-color: #eeccda;
}
.ace-nav > li.open.light-pink > a {
    background-color: #eeccda !important;
}
.ace-nav > li.dark > a {
    background-color: #404040;
}
.ace-nav > li.dark > a:hover,
.ace-nav > li.dark > a:focus {
    background-color: #363636;
}
.ace-nav > li.open.dark > a {
    background-color: #363636 !important;
}
.ace-nav > li.white-opaque > a {
    background-color: rgba(255, 255, 255, 0.8);
}
.ace-nav > li.white-opaque > a:hover,
.ace-nav > li.white-opaque > a:focus {
    background-color: rgba(245, 245, 245, 0.8);
}
.ace-nav > li.open.white-opaque > a {
    background-color: rgba(245, 245, 245, 0.8) !important;
}
.ace-nav > li.dark-opaque > a {
    background-color: rgba(0, 0, 0, 0.2);
}
.ace-nav > li.dark-opaque > a:hover,
.ace-nav > li.dark-opaque > a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}
.ace-nav > li.open.dark-opaque > a {
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.ace-nav > li.margin-4 {
    margin-left: 4px;
}
.ace-nav > li.margin-3 {
    margin-left: 3px;
}
.ace-nav > li.margin-2 {
    margin-left: 2px;
}
.ace-nav > li.margin-1 {
    margin-left: 1px;
}
.ace-nav > li.no-border {
    border: none !important;
}
.ace-nav > li .dropdown-menu {
    z-index: 1031;
}
.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 40px;
}
.ace-nav li:last-child a [class^="fa-"] {
    /* the arrow indicating "See more" on each dropdown , and the icons of user menu */

    display: inline-block;
    width: 1.25em;
    text-align: center;
}
/* ace-nav responsive */
@media only screen and (max-width: 767px) {
    .navbar-container {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 767px) {
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right {
        right: -80px;
    }
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:after {
        right: 100px;
    }
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right {
        right: -40px;
    }
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:after {
        right: 60px;
    }
    .user-menu.dropdown-close.pull-right {
        right: 0 !important;
    }
}
@media only screen and (max-width: 480px) {
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right {
        right: -120px;
    }
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:after {
        right: 140px;
    }
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right {
        right: -80px;
    }
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:after {
        right: 100px;
    }
    .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right {
        right: -50px;
    }
    .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:after {
        right: 70px;
    }
}
@media only screen and (max-width: 460px) {
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right {
        left: -5px;
        right: auto;
    }
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:after {
        right: auto;
        left: 25px;
    }
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right {
        left: -60px;
        right: auto;
    }
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:after {
        left: 80px;
        right: auto;
    }
    .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right {
        left: -110px;
        right: auto;
    }
    .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:before,
    .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:after {
        left: 130px;
        right: auto;
    }
}
/* move the icons to the line below */
@media only screen and (max-width: 460px) {
    .navbar .navbar-header.pull-left {
        display: block;
        float: none !important;
    }
    .navbar .navbar-header.pull-right {
        display: block;
        float: none !important;
    }
    /*.navbar .navbar-inner {
      border-bottom-width:0;
     }*/
    .ace-nav {
        display: block;
        float: none !important;
        text-align: center;
        background-color: #404040;
        border: 1px solid #DDD;
        border-width: 1px 0;
        letter-spacing: -3px;
    }
    .ace-nav > li {
        display: inline-block;
        float: none !important;
        text-align: left;
        letter-spacing: normal;
    }
    .ace-nav > li:first-child {
        border-left: 1px solid #DDD;
    }
    .ace-nav > li:last-child {
        border-right: 1px solid #DDD;
    }
}
@media only screen and (max-width: 320px) {
    .ace-nav > li > a {
        padding: 0 5px !important;
    }
}
.user-menu > li > a {
    padding: 4px 12px;
}
.user-menu > li > a > [class*="fa-"] {
    margin-right: 6px;
    font-size: 120%;
}
.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 6px;
}
.user-info small {
    display: block;
}
@media (min-width: 461px) and (max-width: 480px), (max-width: 360px) {
    .user-menu {
        padding-top: 42px !important;
    }
    .ace-nav .nav-user-photo {
        margin-right: 0;
    }
    .user-info {
        position: absolute !important;
        margin-top: 40px;
        margin-left: 1px;
        right: 2px;
        z-index: 1032;
        color: #777;
        font-size: 14px;
        width: 156px;
        max-width: 156px;
        padding-left: 8px;
        padding-right: 8px;
        height: 32px;
        line-height: 26px !important;
        display: none;
        border-bottom: 1px solid #E5E5E5;
        text-align: center;
        vertical-align: none;
        line-height: normal;
    }
    .user-info > small {
        display: inline;
        opacity: 1;
    }
    li.open .user-info {
        display: inline-block;
    }
}


/* top user info dropdowns */
.dropdown-navbar {
    padding: 0;
    width: 240px;
    -webkit-box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
    box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
    border-color: #bcd4e5;
    /* user info on top navbar icons */

}

.dropdown-navbar > li {
    padding: 0 8px;
    background-color: #FFFFFF;
}

.dropdown-navbar > li.dropdown-header {
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid;
}

.dropdown-navbar > li > [class*="fa-"],
.dropdown-navbar > li > a > [class*="fa-"] {
    margin-right: 5px !important;
    color: #555;
    font-size: 14px;
}

.dropdown-navbar > li > a {
    padding: 10px 2px;
    margin: 0;
    border-bottom: 1px solid;
    font-size: 12px;
    line-height: 16px;
    color: #555;
}

.dropdown-navbar > li > a:active,
.dropdown-navbar > li > a:hover,
.dropdown-navbar > li > a:focus {
    background-color: transparent !important;
    color: #555;
}

.dropdown-navbar > li > a .progress {
    margin-bottom: 0;
    margin-top: 4px;
}

.dropdown-navbar > li > a .badge {
    line-height: 16px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 12px;
}

.dropdown-navbar > li:last-child > a {
    border-bottom: 0 solid #DDD;
    border-top: 1px dotted transparent;
    color: #4F99C6;
    text-align: center;
    font-size: 13px;
}

.dropdown-navbar > li:last-child > a:hover {
    background-color: #FFF;
    color: #4F99C6;
    text-decoration: underline;
}

.dropdown-navbar > li:last-child > a:hover > [class*="fa-"] {
    text-decoration: none;
}

.dropdown-navbar > li:hover {
    background-color: #f4f9fc !important;
}

.dropdown-navbar > li.dropdown-header {
    background-color: #ecf2f7 !important;
    color: #8090a0;
    border-bottom-color: #bcd4e5;
}

.dropdown-navbar > li.dropdown-header > [class*="fa-"] {
    color: #8090a0;
}

.dropdown-navbar > li > a {
    border-bottom-color: #e4ecf3;
}

.dropdown-navbar.navbar-pink {
    border-color: #e5bcd4;
}

.dropdown-navbar.navbar-pink > li:hover {
    background-color: #fcf4f9 !important;
}

.dropdown-navbar.navbar-pink > li.dropdown-header {
    background-color: #f7ecf2 !important;
    color: #b471a0;
    border-bottom-color: #e5bcd4;
}

.dropdown-navbar.navbar-pink > li.dropdown-header > [class*="fa-"] {
    color: #c06090;
}

.dropdown-navbar.navbar-pink > li > a {
    border-bottom-color: #f3e4ec;
}

.dropdown-navbar.navbar-grey {
    border-color: #e5e5e5;
}

.dropdown-navbar.navbar-grey > li:hover {
    background-color: #f8f8f8 !important;
}

.dropdown-navbar.navbar-grey > li.dropdown-header {
    background-color: #f2f2f2 !important;
    color: #3a87ad;
    border-bottom-color: #e5e5e5;
}

.dropdown-navbar.navbar-grey > li.dropdown-header > [class*="fa-"] {
    color: #3a87ad;
}

.dropdown-navbar.navbar-grey > li > a {
    border-bottom-color: #eeeeee;
}

.dropdown-navbar.navbar-green {
    border-color: #b4d5ac;
}

.dropdown-navbar.navbar-green > li:hover {
    background-color: #f4f9ef !important;
}

.dropdown-navbar.navbar-green > li.dropdown-header {
    background-color: #ebf7e4 !important;
    color: #88aa66;
    border-bottom-color: #b4d5ac;
}

.dropdown-navbar.navbar-green > li.dropdown-header > [class*="fa-"] {
    color: #90c060;
}

.dropdown-navbar.navbar-green > li > a {
    border-bottom-color: #ecf3e4;
}

.dropdown-navbar [class*="btn"][class*="fa-"] {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 24px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-navbar .msg-photo {
    margin-right: 6px;
    max-width: 42px;
}

.dropdown-navbar .msg-body {
    display: inline-block;
    line-height: 20px;
    white-space: normal;
    vertical-align: middle;
    max-width: 175px;
}

.dropdown-navbar .msg-title {
    display: inline-block;
    line-height: 14px;
}

.dropdown-navbar .msg-time {
    display: block;
    font-size: 11px;
    color: #777;
}

.dropdown-navbar .msg-time > [class*="fa-"] {
    font-size: 14px;
    color: #555;
}
