<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="user_lxb"/>
		
		<title>
			<g:message code="global.welcome.message" default="Welcome to "/>
			~
			<g:message code="global.app.name" default="XBI" />
		</title>
	</head>
	<body>
	</body>
</html>